<section>
  <div class="contenderForm">
    <h3 class="title text-center">Recuperar Contraseña</h3>

    <form>
      <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail"
          aria-describedby="emailHelp"
          placeholder="Ingrese Email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Nunca compartiremos su correo electrónico con nadie más.
        </small>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button routerLink="/" type="submit" class="btn btn-info">
          Volver
        </button>
      </div>
    </form>
  </div>
</section>
